Repository FerretDB/FerretDB, pull requests merged in 2024-09, with the labels that each got.

#4568 Add blog post on deploying managed FerretDB on Elestio
  website/blog/2024-09-06-easily-deploy-managed-ferretdb-elestio.md
  website/static/img/blog/ferretdb-elestio.jpg
  website/static/img/blog/ferretdb-elestio/cloud-provider.png
  website/static/img/blog/ferretdb-elestio/select-service.png
  website/static/img/blog/ferretdb-elestio/service-dashboard.png
  website/static/img/blog/ferretdb-elestio/support-config.png
Labels: trust, blog/marketing

#4580 Add blog post on importance of open source software
  website/blog/2024-09-16-why-open-source-important-proprietary-uncertainties.md
  website/static/img/blog/open-source-proprietary-risks.jpg
Labels: trust, blog/marketing

#4582 Fix new lines in README's mermaid diagram
  README.md
  website/docs/understanding-ferretdb.md
  website/versioned_docs/version-v1.22/understanding-ferretdb.md
  website/versioned_docs/version-v1.23/understanding-ferretdb.md
  website/versioned_docs/version-v1.24/understanding-ferretdb.md
Labels: code/chore

#4512 Add blog post on OTel context propagation
  build/ferretdb/all-in-one.Dockerfile
  build/ferretdb/development.Dockerfile
  build/ferretdb/production.Dockerfile
  go.mod
  integration/.golangci-new.yml
  integration/.golangci.yml
  integration/go.mod
  tools/checkdocs/checkdocs.go
  tools/go.mod
  tools/golangci/go.mod
  website/blog/2022-11-08-pjson-how-to-store-bson-in-jsonb.md
  website/blog/2024-07-09-monitor-ferretdb-performance-using-coroot.md
  website/blog/2024-09-19-otel-context-propagation-in-ferretdb.md
  website/blog/_guide/content-process.md
  website/blog/authors.yml
  website/docusaurus.config-blog.js
  website/go.mod
  website/static/img/blog/ferretdb-otel/opentelemetry.jpg
  website/static/img/blog/ferretdb-otel/with-propagation.png
  website/static/img/blog/ferretdb-otel/without-propagation.png
Labels: trust, blog/engineering

#4583 Add blog post on running FerretDB with CyberTec Postgres on Kubernetes
  website/blog/2024-09-30-run-ferretdb-cybertec-postgres-kubernetes.md
  website/static/img/blog/ferretdb-cybertec-postgres.jpg
Labels: trust, blog/marketing
